* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.logo {
  background-image: url(./assets/Logo.png);
  height: 50px;
  width: 180px;
}

header {
  display: flex;
  height: 154px;
  padding: 50px 0 0 100px;
  justify-content: space-between;
  border: 1px solid red;
}

.nav_bar {
  margin-right: 50px;
}

.nav_bar ul {
  display: flex;
  list-style-type: none;
  align-items: center;
}

.nav_bar ul li {
  margin: 0 23px;
}

.nav_bar ul li a {
  text-decoration: none;
  font-size: 20px;
  font-weight: 500;
  font-family: "Montserrat", sans-serif;
  color: black;
}

#home {
  color: #3685fb;
}

#book-now {
  background-color: #3685fb;
  padding: 17px 39px;
  border-radius: 50px;
  color: white;
  font-weight: 700;
}

#book-now a {
  color: inherit;
}

.top {
  border: 1px solid blue;
  display: flex;
}

.main-photo {
  width: 614px;
  height: 621px;
  background: url(./assets/main-photo.svg);
}

.main-content {
  display: flex;
  flex-direction: column;
}

.main-content-h1 {
  font-size: 68px;
  font-family: "Montserrat", sans-serif;
}

.main-content-logo {
  height: 90px;
  width: 326px;
  background-image: url(./assets/main-logo.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  display: inline-block;
}

.main-content p {
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
}